<div class="container-fluid">
    <a href="javascript:void(0)" (click)="openModal()">
        <span class="glyphicon glyphicon-plus-sign" style="color:green;font-size:50px" aria-hidden="true"></span>
    </a>
    <br><br>
    <div class="panel panel-default">

        <table class="table table-striped">
           <thead>
            <tr>
                <th style="width: 10%">IP</th>
                <th style="width: 10%">Port</th>
                <th style="width: 70%">Description</th>
                <th style="width: 10%">Groupe</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let address of addresses">
                <td>{{address?.ip}}</td>
                <td>{{address?.port}}</td>
                <td>{{address?.description}}</td>
                <td>{{getGroupName(address?.groupId)}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>