<div class="content">
<div class="row">
	<div class="col-md-12">
		<div class="alert alert-success bienvenue" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Bonjour!</strong> Bienvenue sur l'application ToolBox.
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading prez">Présentation de l'application</div>
			<div class="panel-body">
				<h3>ToolBox a pour but de rassembler des outils utiles pour les développeurs tels que : </h3>
				<div class="jumbotron col-md-4">
					<h1>WIKI</h1>
					<p>Wiki permet de créer des articles.....</p>
					<p>
						<a class="btn btn-primary" [routerLink]="['wiki/edit/0']" href role="button">Ecrire</a>
						<a class="btn btn-primary" [routerLink]="['wiki/browse']" href role="button">Consulter</a>
					</p>
				</div>
				<div class="jumbotron col-md-4">
					<h1>IPBASE</h1>
					<p>IpBase est un gestionnaire d'adresse ip....</p>
					<p><a class="btn btn-primary" [routerLink]="['ipbase']" href role="button">Voir</a></p>
				</div>
				<div class="jumbotron col-md-4">
					<h1>REGISTRY</h1>
					<p>Application en cours de développement....</p>
					<p><a class="btn btn-primary" [routerLink]="['ipbase']" href role="button">Voir</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 couleur">
		<div class="col-md-3">
			<div class="panel panel-default ">
				<div class="panel-body twitterA">
					<a class="link" href="https://github.com/Blake-Lead/" target="blank"><i class="fa fa-github fa-4x" aria-hidden="true"></i>&nbsp;My Github</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default ">
				<div class="panel-body twitterL">
					<a class="link" href="https://www.linkedin.com/in/adel-abdelhak-b1bba0115?authType=NAME_SEARCH&authToken=E4pQ&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A483689543%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1472313744454%2Ctas%3AAd" target="blank"><i class="fa fa-linkedin fa-4x" aria-hidden="true"></i>&nbsp;My Linkedin</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default ">
				<div class="panel-body linkedin">
					<a class="link" href="https://twitter.com/Leansysteam" target="blank"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i>&nbsp;Twitter Leansys</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-body site">
					<a class="link" href="http://www.leansys.fr/" target="blank"><i class="fa fa-google-wallet fa-4x" aria-hidden="true"></i>&nbsp;Site Leansys</a>
				</div>
			</div>
		</div>

	</div>
</div>

</div>