<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success bienvenue" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <strong>Bonjour!</strong> Bienvenue sur l'application ToolBox.
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-heading prez">Présentation de l'application</div>
			  <div class="panel-body">
			  	<h3>TooLBox a pour but de rassembler des outils utiles pour les développeurs tels que : </h3>
			    <div class="jumbotron col-md-4">
				  <h1>WIKI</h1>
				  <p>Wiki permet de créer des articles.....</p>
				  <p>
				  	<a class="btn btn-primary" [routerLink]="['/wiki/edit/0']" href role="button">Ecrire</a>
				  	<a class="btn btn-primary" [routerLink]="['/wiki/browse']" href role="button">Voir</a>
				  </p>
				</div>
				<div class="jumbotron col-md-4">
				  <h1>IPBASE</h1>
				  <p>IpBase est un gestionnaire d'adresse ip....</p>
				  <p><a class="btn btn-primary" [routerLink]="['/ipbase']" href role="button">Voir</a></p>
				</div>
				<div class="jumbotron col-md-4">
				  <h1>REGISTRY</h1>
				  <p>Application en cours de développement....</p>
				  <p><a class="btn btn-primary" [routerLink]="['/ipbase']" href role="button">Voir</a></p>
				</div>
		  	</div>
	  	</div>
</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="col-md-3">
				<div class="panel panel-default ">
				  <div class="panel-heading twitterA "><i class="fa fa-twitter fa-4x" aria-hidden="true"></i>&nbsp;Twitter Blake_Lead</div>
				  <div class="panel-body">			   
					<a class="link" href="https://twitter.com/Blake_Lead" target="blank">Tweets by Blake_Lead</a>
				  </div>
			  	</div>
			</div>
			<div class="col-md-3">  	
	  			<div class="panel panel-default ">
				  <div class="panel-heading twitterL"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i>&nbsp;Twitter Leansys</div>
				  <div class="panel-body">			   
					<a class="link" href="https://twitter.com/Leansysteam" target="blank">Tweets by Leansys</a>
				  </div>
			  	</div>
		  	</div>
		  	<div class="col-md-3">
			  	<div class="panel panel-default ">
				  <div class="panel-heading linkedin"><i class="fa fa-linkedin fa-4x" aria-hidden="true"></i>&nbsp;Linkedin d'Adel</div>
				  <div class="panel-body">			   
					<a class="link" href="https://www.linkedin.com/in/adel-abdelhak-b1bba0115?authType=NAME_SEARCH&authToken=E4pQ&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A483689543%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1472313744454%2Ctas%3AAd" target="blank">Linkedin d'Adel</a>
				  </div>
			  	</div>
		  	</div>
		  	<div class="col-md-3">
			  	<div class="panel panel-default">
				  <div class="panel-heading site"><i class="fa fa-google-wallet fa-4x" aria-hidden="true"></i>&nbsp;Site de Leansys</div>
				  <div class="panel-body">			   
					<a class="link" href="http://www.leansys.fr/" target="blank">Leansys</a>
				  </div>
			  	</div>		  	
			</div>

		</div>
	</div>

</div>
