
<div class="content">
    <h4>Créer et gérer des adresses IP simplement.</h4>


    <div class="col-md-12">

        <div class="well">
            <h4>
                <a href="javascript:void(0)" (click)="addModal.open()" class="addAd">
                    <i class="fa fa-plus-circle fa-1x" aria-hidden="true"></i>&nbsp;Ajouter une adresse
                </a>
                <br>
                <a href="javascript:void(0)" (click)="addGroupModal.open()" class="addAd">
                    <i class="fa fa-plus-circle fa-1x" aria-hidden="true"></i>&nbsp;Ajouter un groupe d'adresses
                </a>
            </h4>
        </div>
        <div class="panel panel-default">

            <table class="table table-hover">
             <thead>
                <tr>
                    <th style="width: 15%">IP</th>
                    <th style="width: 10%">Port</th>
                    <th style="width: 45%">Description</th>
                    <th style="width: 15%">Groupe</th>
                    <th style="width: 15%">Supprimer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let address of addresses">
                    <td >{{address?.ip}}</td>
                    <td class="td-hover">{{address?.port}}</td>
                    <td>{{address?.description}}</td>
                    <td>{{getGroupName(address?.groupId)}}</td>
                    <td class="trash">
                        <button type="button" class="btn btn-xs btn-danger"
                        (click)="deleteModal.open();idToDelete=address.id">
                        <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<modal [animation]="true" [keyboard]="true" (onClose)="onCloseAddModal($event)" #addModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Ajouter une adresse IP</h4>
    </modal-header>
    <modal-body>
        <div class="form-group">
            <label for="ip">IP</label>
            <input autofocus type="text" class="form-control" id="ip" [(ngModel)]="address.ip">
            <label for="port">Port</label>
            <input type="text" class="form-control" id="port" [(ngModel)]="address.port">
            <label for="group">Groupe</label>
            <select name="select" class="form-control" id="group" [(ngModel)]="address.groupId">
              <option *ngFor="let group of groups" [value]="group.id">{{group?.name}}</option>
          </select>
          <label for="description">Description</label>
          <input type="textarea" class="form-control" id="description" [(ngModel)]="address.description">
      </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addModal.dismiss()">Annuler</button>
    <button type="button" class="btn btn-primary" (click)="addModal.close()" [disabled]="!addressIsValid(address)">Ajouter</button>
</modal-footer>
</modal>

<modal [animation]="true" [keyboard]="true" (onClose)="onCloseDeleteModal($event)" #deleteModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Supprimer une adresse IP</h4>
    </modal-header>
    <modal-body>
        <h5>Etes-vous sûr de vouloir supprimer cette adresse ({{idToDelete}})?</h5>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteModal.dismiss()">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="deleteModal.close()">Confirmer</button>
    </modal-footer>
</modal>

<modal [animation]="true" [keyboard]="true" (onClose)="onCloseAddGroupModal($event)" #addGroupModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Ajouter un groupe d'adresses</h4>
    </modal-header>
    <modal-body>
        <div class="form-group">
            <label for="name">Nom</label>
            <input autofocus type="text" class="form-control" id="name" [(ngModel)]="group.name">
            <label for="groupdescription">Description</label>
            <input type="textarea" class="form-control" id="groupdescription" [(ngModel)]="group.description">
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addGroupModal.dismiss()">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="addGroupModal.close()" [disabled]="!groupIsValid(group)">Ajouter</button>
    </modal-footer>
</modal>