<div class="container-fluid">
    <div class="well">
        <h4>
            <a href="javascript:void(0)" (click)="addModal.open()">
                <span class="glyphicon glyphicon-plus-sign"
                style="color:green;font-size:40px" aria-hidden="true"></span>
            </a>
            <span>Créer et gérer des adresses IP simplement.</span>
            <button type="button" class="btn btn-xs btn-success align-left"
            (click)="addGroupModal.open()">
            Ajouter un groupe</button>
        </h4>
    </div>
    <div class="panel panel-default">

        <table class="table table-striped">
         <thead>
            <tr>
                <th style="width: 20%">IP</th>
                <th style="width: 20%">Port</th>
                <th style="width: 50%">Description</th>
                <th style="width: 10%">Groupe</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let address of addresses">
                <td>{{address?.ip}}</td>
                <td>{{address?.port}}</td>
                <td>{{address?.description}}</td>
                <td>{{getGroupName(address?.groupId)}}</td>
                <td>
                    <button type="button" class="btn btn-xs btn-danger"
                    (click)="deleteModal.open();idToDelete=address.id">
                    Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<modal [animation]="true" [keyboard]="true" (onClose)="onCloseAddModal($event)" #addModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Ajouter une adresse IP</h4>
    </modal-header>
    <modal-body>
        <div class="form-group">
            <label for="ip">IP</label>
            <input autofocus type="text" class="form-control" id="ip" [(ngModel)]="address.ip">
            <label for="port">Port</label>
            <input type="text" class="form-control" id="port" [(ngModel)]="address.port">
            <label for="group">Groupe</label>
            <select name="select" class="form-control" id="group" [(ngModel)]="address.groupId">
              <option *ngFor="let group of groups" [value]="group.id">{{group?.name}}</option>
          </select>
          <label for="description">Description</label>
          <input type="textarea" class="form-control" id="description" [(ngModel)]="address.description">
      </div>
  </modal-body>
  <modal-footer [show-default-buttons]="true" [close-button-label]="Ajouter" [dismiss-button-label]="Annuler">
  </modal-footer>
</modal>

<modal [animation]="true" [keyboard]="true" (onClose)="onCloseDeleteModal($event)" #deleteModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Supprimer une adresse IP</h4>
    </modal-header>
    <modal-body>
        <h5>Etes-vous sûr de vouloir supprimer cette adresse ({{idToDelete}})?</h5>
    </modal-body>
    <modal-footer [show-default-buttons]="true" [close-button-label]="Confirmer" [dismiss-button-label]="Annuler">
    </modal-footer>
</modal>

<modal [animation]="true" [keyboard]="true" (onClose)="onCloseAddGroupModal($event)" #addGroupModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Ajouter un groupe d'adresses</h4>
    </modal-header>
    <modal-body>
        <div class="form-group">
            <label for="name">Nom</label>
            <input autofocus type="text" class="form-control" id="name" [(ngModel)]="group.name">
            <label for="groupdescription">Description</label>
            <input type="textarea" class="form-control" id="groupdescription" [(ngModel)]="group.description">
        </div>
    </modal-body>
    <modal-footer [show-default-buttons]="true" [close-button-label]="Ajouter" [dismiss-button-label]="Annuler">
    </modal-footer>
</modal>